<ng-container *ngFor="let currency of currencies">
  <div class="currency">
    <div class="sign">
      <span>{{currency.viewCcy}}</span>
    </div>

    <div class="value">
      <span>1 {{currency.dictionaryValue}}</span>
    </div>

    <div class="price">
      <span>1.00</span>
    </div>

    
    <div class="difference" *ngIf="currency.difference === 0">
      <span>სტაბილურია</span>
    </div>
    <div class="difference" *ngIf="currency.difference < 0">
      <span>ისარი ქვემოთ</span>
    </div>
    <div class="difference" *ngIf="currency.difference > 0">
      <span>ისარი ზემოთ</span>
    </div>

    <div class="buy">
      <span>{{currency.buyRate}}</span>
    </div>

    <div class="sell">
      <span>{{currency.sellRate}}</span>
    </div>
  </div>

</ng-container>