.currency{
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
    height: 40px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 12px;
}

.sign{
    font-weight: bold;
    background-color: #333;  
    color: #fff;
    padding: 10px;
    border-radius: 12px;
}


